@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #1e1e1e;
	scroll-behavior: smooth;
}

main {
	font-family: "Poppins", sans-serif;
}

.bg-home-color {
	background-color: #1e1e1e;
}

.main-title {
	color: #7152c4;
	font-family: "Permanent Marker", cursive;
}

.section-title {
	color: #7152c4;
}

.bg-footer {
	background-color: #7152c4;
}

.footer-title {
	font-family: "Permanent Marker", cursive;
}

.border-nav-color {
	background-color: #7152c4;
}

.mobile-nav-text-color {
	color: #7152c4;
}

.underline {
	display: inline;
	position: relative;
	text-decoration: none;
}

.underline:after {
	content: "";
	display: block;
	position: absolute;
	width: 0%;
	left: 0px;
	height: 3px;
	transition: 0.25s cubic-bezier(0.72, -0.01, 0.19, 0.92);
	background: #7152c4;
}

.underline:hover:after {
	width: 100%;
}

.ease-in-out-transition {
	transition: all 0.3s ease-in-out;
}
